body {
    padding-top: 5rem;
    
}
.data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.img1{
    width: 100%;
    height: 50%;
    border-radius: 50%;
    border-color: black;

}

.container1{
    display: flex;
    padding-left: 9%;
    justify-content: space-between;
    padding-top: 9%;
    padding-bottom: 9%;
}
.btnbox{
    display:flex;
    width:100%;
    justify-content: center;
}
.group{
    display: flex;
    flex-direction: column;
    
    
         
}


.toppart{
    background-color: rgb(247, 79, 79);
    
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 25%;
    padding: 9%;
    

}
.bottompart{
background-color:white;
display: flex;
flex-direction:column;
width: 50%;
}
.tag{color: gray;
    
}
.value{
    color: black;
}
.imgbox{
    height: 25%;
    width:100%;
}
.basicinfo{
    text-align: center;
    padding: 18%;
    height: 50%;
    width:100%;

}
.btn{
    width:18%;
    background-color: aquamarine;
    border-radius: 45px;
    padding: 3%;
    
}